@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap);

:host {
  display: block;
}

h1,
h2 {
  margin: 0px;
}

.profile-photo img {
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 300px;
  width: 100%;
  max-width: 130px;
}

.about {
  display: flex;
  gap: 1em;
  align-items: center;

  h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.2em;
  }
}

.sponsor {
  // position: relative;
  // bottom: -12px;
}

.wrapper {
  // display: grid;
  // grid-template-columns: 1fr;

  // width: 100%;
}

header {
  background: #fff;
  border-bottom: 1px solid #cccccc85;
  overflow: hidden;

  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.header {
  //display: none;

  //position: relative;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //gap: 0.5em;

  color: #fff;

  background: linear-gradient(#9c0886, #0008ffad);
  background-size: 200% 200%;
  animation: AnimationName 33s ease infinite;

  .container {
    display: flex;
    //gap: 1.5em;
    align-items: flex-end;
    height: 100%;
    justify-content: center;

    flex-wrap: wrap;

    .left-side {
      padding: 1em 1em 0em 1em;
    }

    .right-side {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

.social {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.15em;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: #fff;
    border-radius: 1em;
    display: block;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      background-color: #ffffff4a;
    }
  }
}

fa-icon {
  color: #fff;
}

.stats-wrapper {
  position: relative;

  //background: rgb(0 0 0 / 21%);
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  //border-top: 1px solid rgb(0 0 0 / 57%);
}

.stats-inner {
  display: flex;
  align-items: center;
  text-align: center;
  

  padding-left: 1em;
  padding-right: 1em;

  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;

  > a {
    display: block;
    text-decoration: none;
    color: inherit;

    > div:first-child {
      font-size: 1.25em;
    }

    > div:last-child {
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }
}

nav {
  ul {
    padding-inline-start: 0;
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;

    li {
      a {
        display: block;
        width: 60px;
        text-align: center;
        color: inherit;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 1.25rem;
        border: 1px solid #8a8a8a94;
        border-radius: 4px;
        padding: 0.15em 0.75em;
        background: #00000038;
        box-shadow: inset 0px 0px 1px 1px rgb(255 255 255 / 35%);
      }
    }
  }
}

.main-body {
  //margin-top: 30px;
}

// :host(.menu-open) {
//   .header {
//     display: flex;
//   }
// }

@media only screen and (min-width: 991px) {
  // .wrapper {
  //   grid-template-columns: minmax(250px, 350px) 1fr;
  //   min-height: 100vh;
  // }

  // .main-body {
  //   height: 100vh;
  //   overflow: auto;
  // }

  // .stats-wrapper {
  //   position: absolute;
  //   bottom: 0;
  // }

  .header {
    .container {
      justify-content: space-between;

      .left-side {
        margin-top: auto;
        position: relative;
        bottom: -24px;

        padding: 0px;
      }
    }
  }

  .stats-inner {
    justify-content: flex-end;
    gap: 5em;
  }
}
