:host {
  display: block;
}

h1,
h2 {
  margin: 0px;
}

.profile-photo {
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 300px;
  width: 100%;
  max-width: 180px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  
  width: 100%;
}

.header {
  display: none;

  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5em;

  background: linear-gradient(#9c1fe6d1, #0b33a5);
  color: #fff;
}

.social {
  display: flex;

  a {
    color: #fff;
    border-radius: 1em;
    display: block;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      background-color: #ffffff4a;
    }
  }
}

fa-icon {
  color: #fff;
}

.stats-wrapper {
  position: relative;
  
  background: linear-gradient(#3962ffb5, #00000063);
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  border-top: 1px solid #6879bd;
}

.stats-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1em;

  padding-left: 1em;
  padding-right: 1em;

  > div {
    > div:first-child {
      font-size: 1.25em;
    }

    > div:last-child {
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }
}

:host(.menu-open) {
  .header {
    display: flex;
  }
}


@media only screen and (min-width: 763px) {

  .wrapper {
    grid-template-columns: minmax(250px, 350px) 1fr;
    min-height: 100vh;
  }

  .main-body {
    height: 100vh;
    overflow: auto;
  }

  .stats-wrapper {
    position: absolute;
    bottom: 0;
  }
}