:host {
  display: block;
  padding: 1em;
}

.repos,
.posts,
.orgs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  margin-bottom: 1em;

  > *:hover {
    transition: 0.25s all ease-in-out;
    box-shadow: 0 2px 14px 0px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 394px) {
  .orgs {
    grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
  }
  .posts {
    grid-template-columns: repeat(auto-fill, minmax(362px, 1fr));
  }
}

@media only screen and (min-width: 344px) {
  .repos {
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  }
}
