:host {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e4e8;
  border-top: 4px solid var(--theme-color, #ccc);
  border-radius: 4px;
  background: white;
  padding: 1rem;
  gap: 0.8em;
  font-size: 0.9em;

  // https://web.dev/content-visibility/
  content-visibility: auto;
  contain-intrinsic-size: 115px;
}

.wrap {
  display: flex;
  gap: 1em;
}

img {
  width: 100%;
  max-width: 85px;
  height: auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0366d6;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.description {
  font-size: 0.9em;
  color: #586069;
  margin-top: 0.25em;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: auto;

  color: #586069;

  > a {
    display: flex;
    align-items: center;
    gap: 0.15em;
    color: inherit;
    font-weight: normal;
  }
}
