@import "../../global/global.scss";

//@import "../../../node_modules/prismjs/themes/prism-twilight.css";

:host {
  display: block;
  padding: 0em;
}

.image {
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;

  img {
    // max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 75vh;
    display: block;
  }
}

.content {
  position: relative;
  border-radius: 4px;
  padding: 2em;
  background-color: rgb(255 255 255 / 0.95);
  z-index: 1;
  min-height: 10vh;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);

  > h1 {
    display: flex;
    justify-content: center;
    text-rendering: optimizelegibility;
    font-size: 2.25rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    margin-bottom: 0.5em;
  }

  > div {
    h1 {
      font-size: 2rem;
      margin: revert !important;
    }

    h2 {
      font-size: 1.5rem;
      margin: revert !important;
    }

    h3 {
      margin: revert !important;
    }
  }
}

.meta {
  border-top: 1px solid #ccc;
  padding: 1em 0 0;

  > div {
    display: flex;
    gap: 0.25em;
  }
}

@media only screen and (min-width: 763px) {
  .content {
    margin-top: -10vh;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
